<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <style>
        .form-control {
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <h1>
        <%= farm.name %>
    </h1>
    <h2>Add Product</h2>
    <form action="/farms/<%= farm._id %>/products" method="post">
        <div class="form-control">
            <label for="name">Product name:</label>
            <input id="name" type="text" placeholder="Product name" name="name">
        </div>
        <div class="form-control">
            <label for="price">Product price</label>
            <input id="price" type="number" min="0" step="0.01" placeholder="Product price" name="price">
        </div>
        <div class="form-control">
            <label for="category">Category</label>
            <select name="category" id="category">
                <% for( let category of categories) { %>
                    <option value="<%= category %>">
                        <%= category %>
                    </option>
                    <% } %>
            </select>
        </div>
        <button class="form-control">Submit</button>
        <a href="/farms/<%= farm._id %>">Cancel</a>
    </form>

</body>

</html>