<%- include('partials/head') %>

    <%- include('./partials/navbar') %>

        <h1>Welcome to Home page <%= Math.floor(Math.random() * 10 + 1) %>
        </h1>
        <h2>
            <%= 'Hello Greeting' .toUpperCase() %>
        </h2>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore saepe alias id qui delectus eveniet
            quam
            asperiores, dolore maiores nemo reiciendis! Sint sed delectus culpa ipsam adipisci numquam officiis
            consequatur!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor repellendus ipsam ad cupiditate veniam
            iure
            dolore
            consectetur nostrum at adipisci possimus illo illum quas, earum consequuntur asperiores itaque quia est!
        </p>
        <%- include('partials/footer') %>