<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= subreddit %>
    </title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>Browsing The <%= subreddit %> subreddit</h1>
    <% if(data) {%>
        <h2>
            <%= data.description %>
        </h2>
        <p>
            <%= data.subscribers %> Total subscribers
        </p>
        <hr>

        <% for (const post of data.posts) { %>
            <article>
                <p>
                    <%= post.title %> -<b>
                            <%= post.author %>
                        </b>
                </p>
                <% if(post.img) { %>
                    <img src="<%= post.img %>" alt="pic">
                    <% } %>
            </article>
            <hr>
            <% } %>

                <% } else { %>
                    <hr>
                    <h2>Not Found!! <%= subreddit %> Subreddit</h2>
                    <% } %>

</body>

</html>